<ActionBar title="Analytics" class="action-bar">
</ActionBar>
<GridLayout class="page" rows="*, *">
    <RadPieChart allowAnimation="true">
        <PieSeries tkPieSeries selectionMode="DataPoint" expandRadius="0.4" outerRadiusFactor="0.7"
            [items]="data.pieData" valueProperty="value" legendLabel="name"></PieSeries>

        <RadLegendView tkPieLegend position="Right" title="Symbols" offsetOrigin="TopRight"
            width="110" enableSelection="true"></RadLegendView>

    </RadPieChart>

    <RadCartesianChart row="1">
        <CategoricalAxis lineThickness="1" tkCartesianHorizontalAxis></CategoricalAxis>
        <LinearAxis lineThickness="1" tkCartesianVerticalAxis></LinearAxis>

        <SplineAreaSeries tkCartesianSeries seriesName="Dot" [items]="data.dotSeries" categoryProperty="name"
            valueProperty="value" legendTitle="Dots" selectionMode="Series"></SplineAreaSeries>
        <SplineAreaSeries tkCartesianSeries seriesName="Dash" [items]="data.dashSeries" categoryProperty="name"
            valueProperty="value" legendTitle="Dashes" selectionMode="Series"></SplineAreaSeries>

        <RadCartesianChartGrid tkCartesianGrid 
            horizontalLinesVisible="true" verticalLinesVisible="false"
            verticalStripLinesVisible="false" horizontalStripLinesVisible="false" horizontalStrokeColor="#e5e5e5"></RadCartesianChartGrid>

        <RadLegendView tkCartesianLegend position="Right" title="Dots vs. Dashes" offsetOrigin="TopRight"
            width="110" enableSelection="true"></RadLegendView>
    </RadCartesianChart>
</GridLayout>
